@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Roboto+Slab&display=swap');

.title{
    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
}

.moog-img{
    width: 420px;
}
.sub-heading{
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
}
p{
    text-indent: 50px;
    margin: 0;
}
section{
    margin: 0px;
    padding: 0px;
}
.button{
    height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.results{
    font-size: 1.5rem;
    margin: 15px;
    color: red;
}